.header__lang-link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-align: right;
  line-height: 1.2;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
  }
}