.cover__subtitle {
  max-width: 30.4%;
  margin: 0;
  padding-top: 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  z-index: 100;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    max-width: 35.2%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: 46.9%;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    padding-top: 16px;
    max-width: 90%;
  }
}
