.cover__title {
  max-width: 47.3%;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
  z-index: 100;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 54.7%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 73%;
  }
}

@media screen and (max-width:688px) {
  .cover__title {
    font-size: 32px;
  }
}

@media screen and (max-width:320px) {
  .cover__title {
    max-width: 75%;
  }
}