.place {
    max-width: 76.9%;
    margin: 0 auto;
    list-style:none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    border: 1px outset pink;

}