.footer {
  max-width: 100%;
  margin: 0;
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.8%;
    padding: 89px 24px 24px;
  }
}

@media screen and (max-width: 619px) {
  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 58.5%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-top: 64px;
    padding-right: 118px;
  }
}