.place__url-heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    line-height: 1;
  }
}